@{
    ViewData["Title"] = "Historial Renta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
}
<h1>Historial Renta</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Historial de Venta</h6>
    </div>
    <div class="card-body">
        <div class="form-row align-items-end">
            <div class="form-group col-sm-3">
                <label for="cboBuscarPor">Buscar por</label>
                <select class="form-control form-control-sm" id="cboBuscarPor">
                    <option value="fecha">Fechas</option>
                    <option value="numero">Numero Venta</option>
                </select>
            </div>
            <div class="form-group col-sm-3 busqueda-fecha">
                <label for="txtFechaInicio">Fecha Inicio</label>
                <input type="text" class="form-control form-control-sm" id="txtFechaInicio">
            </div>
            <div class="form-group col-sm-3 busqueda-fecha">
                <label for="txtFechaFin">Fecha Fin</label>
                <input type="text" class="form-control form-control-sm" id="txtFechaFin">
            </div>
            <div class="form-group col-sm-3 busqueda-venta">
                <label for="txtNumeroVenta">Numero Venta</label>
                <input type="text" class="form-control form-control-sm" id="txtNumeroVenta">
            </div>
            <div class="form-group col-sm-3">
                <button class="btn btn-success btn-block btn-sm" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-sm table-striped" id="tbRenta">
                    <thead>
                        <tr>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Número de Renta</th>
                            <th>Cliente</th>
                            <th>Vehículo</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2022-04-27</td>
                            <td>2022-04-30</td>
                            <td>00001</td>
                            <td>José Pérez</td>
                            <td>Toyota Corolla</td>
                            <td>$200.00</td>
                            <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalData"><i class="fas fa-eye"></i> Ver Detalle</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalle Renta -->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle de Renta</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtFechaInicioDetalle">Fecha Inicio</label>
                                    <input type="text" class="form-control form-control-sm" id="txtFechaInicioDetalle" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtFechaFinDetalle">Fecha Fin</label>
                                    <input type="text" class="form-control form-control-sm" id="txtFechaFinDetalle" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtNumeroRentaDetalle">Número de Renta</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNumeroRentaDetalle" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtNombreClienteDetalle">Nombre Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNombreClienteDetalle" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtDocumentoClienteDetalle">DUI Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDocumentoClienteDetalle" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtTipoLicenciaDetalle">Tipo Licencia</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTipoLicenciaDetalle" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtTelefonoClienteDetalle">Teléfono Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTelefonoClienteDetalle" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtDireccionClienteDetalle">Dirección Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDireccionClienteDetalle" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtEmailClienteDetalle">Email Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtEmailClienteDetalle" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtSubTotalDetalle">Sub Total</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSubTotalDetalle" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtIGVDetalle">IGV</label>
                                    <input type="text" class="form-control form-control-sm" id="txtIGVDetalle" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtTotalDetalle">Total</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTotalDetalle" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbVehiculos" class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Vehículo</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Toyota Corolla</td>
                                                <td>1</td>
                                                <td>$200.00</td>
                                                <td>$200.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>
}

